header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e4e1df;
    padding: 15px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header img {
    height: 100px;
    margin-right: 20px;
    border-radius: 200px;
    box-shadow: #8A7650 0px 4px 6px;
}
header h1 {
    color: #3E2C23;
    font-size: 1.8rem;
    margin: 0;
    flex-grow: 1;
}
body {
  margin: 0;
  font-family: "Quicksand", 'Times New Roman', Times, serif, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: #bebbbf;
}
nav {
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: #3E2C23;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 6px;
}
nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
nav li {
    list-style: none;
} 
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    background: linear-gradient(135geg, #e4e1df, #d1d0d0);
}
.heroTexto h2 {
    font-size: 2.5rem;
    color: #3E2C23;
    margin-bottom: 20px;
}
.heroTexto p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #3E2C23;
    margin-bottom: 30px;
}
.heroTexto button {
    background: #3E2C23;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
}
.heroTexto button a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.hero img {
    margin: 40px;
    max-width: 45%;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.contenedorTarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 60px 40px;
    background: #bebbbf;
}
.h1 {
    text-align: center;
    font-size: 2rem;
    color: #3E2C23;
    margin-bottom: 40px;
}
.card {
    display: inline-block;
    width: 280px;
    margin: 60px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}
.card h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #3E2C23;
}
.card p {
    font-size: 1rem;
    color: #3E2C23;
    margin-bottom: 20px;
}
.card button {
    background: #bebbbf;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}
.card button a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.mapa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 40px;
    background: #bebbbf;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.mapa h2 {
    font-size: 1.8rem;
    color: #3E2C23;
    margin-bottom: 20px;
}
.mapa iframe {
    flex-grow: 1;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: none;
}
.footer {
    background: linear-gradient(135deg, #e4e1df, #d1d0d0);
    color: #3E2C23;
    text-align: center;
    padding: 20px 0px;
    margin-top: 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.footer p {
    color: #3E2C23;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}
strong {
    color: #000000;
}
.contenedorTarjetas button {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    background: #3E2C23;
    color: #fff;
    border: none;
    padding: 12px 24px;
    margin: 0 auto;
    border-radius: 6px;
    cursor: pointer;
}
.contenedorTarjetas button a { 
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.h2 {
    text-align: center;
    font-size: 2rem;
    color: #3E2C23;
    margin-bottom: 40px;
}

@media(max-width: 768px) {
    .contenedorTarjetas {
        display: block
    }
    .card {
        margin: 0 auto;
        margin-top: 20px;
    }
}



